h1 {
    text-align: center;
}

.container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.01em 16px;
}

.content-top {
    max-width: 980px;
    margin: auto;
}

.text-content {
    margin: 5px 10px;
    padding: 10px 20px;
}

.quiz_button {
    margin: 15px;
    padding:6px 16px;
    overflow:hidden;
    color:#000000;
    background-color: #f1f1f1;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    border-radius:8px!important;
    border:1px solid #cccccc;
}

.quiz_button:hover {
    color:#000000;
    background-color: #aef6ff;
}

.quiz_button:active{
    padding-top: 6px;
    padding-bottom: 4px;
    border: 1px solid #334c66;
    background-color: #69c;
    color: #e0ebf5;
    box-shadow: inset 0px 0px 2px #3a6da0;
}

/*ボタン部分*/
.radio-inline__input{
    display: none;
}

/*文字部分*/
.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
    outline-color: #000000;
    outline-offset: -2px;
    outline-style: auto;
}

/*選択されているボタンと文字*/
.radio-inline__input:checked + .radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}